# Python
__pycache__/
*.py[cod]
*.pyo

# Django / local config
backend/.env
backend/.venv/
*.sqlite3

# Frontend
frontend/front/node_modules/
frontend/front/dist/
frontend/front/.env

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Keep playbook repo separate
backend/backend/Playbooks/k8s-single-noded/k8s-single-noded/